.img-administracion{
    width: 40px;
}

body{

    background-color: white;
}

.titulo-administracion{
    margin-top: 2rem;
    align-items: center;
    display: flex;
}

.subtitulo-administracion{
    text-align:justify;
    display: flex;
}


.img-tramites{
    width: 40px;
}

.img-usuarios{
    width: 40px;
}

.img-empleados{
    width: 40px;
}

.img-micrositios{
    width: 40px;
}

.img-oficialia{
    width: 40px;
}

.box{
    width: 300px;
}

  .box-tramites {
    padding: 20px;
    background-color:deepskyblue;
    border: 1px solid #ddd;
    text-align: center;
    text-decoration: none;
  }

 
  .box-tramites:hover{
    color: black;
    box-shadow: 9px 10px 9px rgba(0, 0, 0, 0.1);
  }

  .box-usuarios{
    padding: 20px;
    background-color:darkseagreen;
    border: 1px solid #ddd;
    text-align: center;
    text-decoration: none;
  }

  .box-usuarios:hover{
    color: black;
    padding-left: 25px;
    box-shadow: 9px 10px 9px rgba(0, 0, 0, 0.1);
  }

  
  .box-empleados{
    padding: 20px;
    background-color:darkorange;
    border: 1px solid #ddd;
    text-align: center;
    text-decoration: none;
  }

  .box-empleados:hover{
    color: black;
    padding-left: 25px;
    box-shadow: 9px 10px 9px rgba(0, 0, 0, 0.1);
  }

  .box-micrositios{
    padding: 20px;
    background-color:deeppink;
    border: 1px solid #ddd;
    text-align: center;
    text-decoration: none;
  }

  .box-micrositios:hover{
    color: black;
    padding-left: 25px;
    box-shadow: 9px 10px 9px rgba(0, 0, 0, 0.1);
  }

.box-oficialia{
    padding: 20px;
    background-color:darkviolet;
    border: 1px solid #ddd;
    text-align: center;
    text-decoration: none;
}

.box-oficialia:hover{
    color: black;
    padding-left: 25px;
    box-shadow: 9px 10px 9px rgba(0, 0, 0, 0.1);
  }

/* ... Estilos existentes ... */

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centramos los elementos en la fila */
  }
  
  .flex-item {
    flex: 1;
    min-width: 200px;
    max-width: fit-content;
  }

  
.title{
    max-width: 300px; /* Limita el ancho del título */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a{
    text-decoration: none;
    color: black;
    }

.row{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
    gap: 20px;
}

@media (min-width: 768px) {
  .row {
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
  }

  .col-md-3 {
    flex: 0 0 48%; /* Ocupa el 48% del ancho */
    max-width: 48%;
    margin-bottom: 20px; /* Agrega espacio entre las filas */
  }
}


@media (min-width: 1430px) {
  .col-md-3 {
      flex: 0 0 20%; /* Ocupa el 48% del ancho */
      max-width: 48%;
      margin-bottom: 20px; /* Agrega espacio entre las filas */
  }
}

